
.home-main-cont{

    width: 100%;
    height: 100vh;
    padding: 10px;
    background-image: url('/images/h2.jpg');
    background-size: cover;
   
  }


  .marqee-cont{
    display: flex;
    position:absolute;
    bottom: 5px;
    color: aliceblue;
  }